@font-face {
    font-family: 'OpenSans';
    src:url('../fonts/OpenSans.ttf') format("opentype");
}
@font-face {
    font-family: 'seagle';
    src: url('../fonts/seagle.otf') format("opentype");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'codropsicons';
    src:url('../fonts/codropsicons/codropsicons.eot');
    src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codropsicons/codropsicons.woff') format('woff'),
    url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
    url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


body {
    font-size: 100%;
    line-height: 1.25;
    font-family: 'OpenSans' , sans-serif;
    font-weight: 300;
    background: #E9E9E9;
}

p,h1,h2,h3,h4,h5 {
    font-family: 'OpenSans' , sans-serif;
}

ul img {
    width: 350px;
    max-height: 600px;
}

.header h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1000%;
    font-family: 'seagle';
    color: #4F5359;
    text-align: center
}

a {
    /*opacity:1;*/
    color: #FF2A48;
    text-decoration: none;
    outline: none;
}

a:hover, a:focus {
    color: #4F5359;
}

section {
    padding: 1em;
    text-align: center;
}

.grid li a {
    /*border: 1px;*/
    border-radius: 6px;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.22);

}
/*rotate*/
.placeholder h3 {
    opacity: 0;
}